:javascript
  window._gaq = window._gaq || [];

- if !(Rails.env =~ /development/i)
  :javascript
    _gaq.push(['_setAccount', '#{AppConfig.analytics_tracking_code}']);
    _gaq.push(['_trackPageview']);

    // Track what type of user this is.
    _gaq.push(['_setCustomVar', 1, 'User Type', '#{current_user ? "Member" : "Visitor"}', 2]);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

    })();
